@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #03aad2;
    border-radius: 100px;
}

button {
    cursor: pointer;
}
/* body */
.all_content {
    background: #ecf1f6;
}
ul,
li {
    list-style: none;
}

.error {
    font-size: 11px;
    color: red;
    margin-bottom: 0;
}

/* サイドバー */
.sidebar {
    width: 175px;
    min-height: 100vh;
    background-color: #03aad2;
    font-weight: bold;
}

.main-container {
    width: 100%;
}
.sidebar p a {
    color: #fff;
    display: block;
    height: 35px;
}

.sidebar p {
    margin-top: 20px;
}

.sidebar p a:hover {
    text-shadow: 0 0 3px #d26703;
    text-decoration: none;
}

/* トップページ */
.user_status {
    border-radius: 10px;
    background: #fff;
}

/* スクール予約関連 */
.day-blank {
    background: #d3d3d3;
}
.day-sat {
    color: #0000ff;
}
.day-sun {
    color: #ff0000;
}
.past-day {
    background: #eee;
}
.calendar-td {
    min-width: 100px;
}
.day_part {
    color: #494949;
    font-size: 12px;
}
.adjust-table {
    width: 70% !important;
}
.adjust-table td {
    padding: 0 !important;
}
.adjust-area p {
    justify-content: space-around;
}
.adjust-table-btn {
    width: 70%;
}

/* モーダル */
.delete-modal-btn {
    justify-content: space-between;
}
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* 掲示板 */
.post_create_btn {
    /* border: 2px solid #555555; */
    border-radius: 8px;
    display: block;
    padding: 5px 10px;
    width: 130px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 13px auto;
    background-color: #03aad2;
}

.post_create_btn:hover {
    box-shadow: 0 0 4px #000;
}

.post_create_btn a {
    color: #fff;
}

.post_create_btn a:hover {
    text-decoration: none;
    color: #fff;
}

.bb_search_maincategory {
}
.sub_categories {
    display: none;
}
.post_create_area {
    background: #fff;
    border-radius: 10px;
}
.post_create_area textarea {
    resize: none;
    height: 300px;
    white-space: pre-wrap;
}
.detail_container {
    background: #fff;
    position: relative;
}
.post_area {
    background: #fff;
    border-radius: 10px;
}
.post_bottom_area {
    justify-content: space-between;
}
.like_btn,
.un_like_btn {
    cursor: pointer;
}
.un_like,
.un_like_btn {
    color: #e2254d;
}
.error_message {
    font-size: 12px;
    color: red;
    margin-bottom: 0px;
}

/* 掲示板 詳細画面 */
.error-box {
    width: 300px;
}

.detail_edit_btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.subcategory_badge {
    background-color: #c8c7c7;
}

.contributor {
    font-size: 12px;
    color: #999;
    font-weight: bold;
}
.detsail_post_title {
    font-size: 14px;
}
.detsail_post {
    font-size: 12px;
    color: #9e9e9e;
}
.detail_inner_head {
    display: flex;
    justify-content: space-between;
}
.edit-modal-open {
    cursor: pointer;
}
.modal_title {
    border: 1px solid #000;
    padding: 5px;
}

.modal-inner-body textarea {
    border: 1px solid #000;
    padding: 5px;
    height: 150px;
    resize: none;
}
.edit-modal-btn {
    justify-content: space-between;
}
/* 掲示板 コメント */
.comment_container {
    background: #fff;
}

.reply_icon {
    font-size: 12px;
    color: #fff;
    -webkit-text-stroke-width: 1px; /* 線の幅 */
    -webkit-text-stroke-color: #6d6d6d; /* 線の色 */
    text-shadow: 0 0 1px #000;
}

.comment_user_name {
    color: #999;
    font-weight: bold;
}

.comment_area p,
.comment_area input {
    font-size: 12px;
}
.comment_area textarea {
    height: 300px;
    resize: none;
}
.comment_container span {
    font-size: 12px;
}
.subcategory_count_box {
    justify-content: space-between;
    height: 20px;
}
.post_status span {
    font-size: 12px;
}

.comment-content {
    font-weight: 100;
}

/* 掲示板　カテゴリー */
.category_area {
    background: #fff;
    border-radius: 10px;
}
.category_box {
    border-radius: 5px;
    padding: 3px;
    background: #999;
    font-size: 10px;
    color: #fff;
}
.category_btn,
.category_name {
    font-size: 12px;
    border-radius: 5px;
    padding: 1px 7px;
    border: none;
    background: #999;
    color: #fff;
}

.main_categories:before {
    background-color: #555; /* 線色 */
    border-radius: 5px; /* 線幅の半分 */
    content: "";
    display: inline-block;
    height: 25px; /* 線の長さ */
    margin-right: 5px; /* 線右の余白 */
    vertical-align: middle;
    width: 3px; /* 線幅 */
}

.category_btn:hover {
    box-shadow: 0 0 7px #999;
}

.category_search .category {
    margin-left: 15px;
}

.main_categories {
    margin-top: 15px;
    padding-left: 3px;
    margin-left: 2px;
}

.main_categories span,
.sub_categories li input {
    list-style: none;
    cursor: pointer;
}

/* ユーザー検索 */
.area_title {
    color: #03aad2;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 5px;
    padding-left: 11px;
    width: 800px;
    border-bottom: 2px solid #03aad2;
}
.reserve_users_area {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0px auto;
    height: 85vh;
    overflow: scroll;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
.reserve_users_area span {
    font-size: 12px;
}
.one_person {
    width: 250px;
    height: 250px;
    font-weight: bold;
    border: 1px solid #868686;
    background-color: #03aad2;
    border-radius: 15px;
    color: #fff;
    padding-left: 5px;
    padding-top: 5px;
    font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
}

.one_person a {
    color: #fff;
    text-decoration: underline;
}

.one_person a:hover {
    text-shadow: 0 0 3px #d26703;
    color: #fff;
}

.other_area {
    border: 1px solid #000;
}

.search_conditions {
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
    width: 140px;
    padding-left: 2px;
    background-color: #dbd9d9;
}

.search_conditions:hover {
    box-shadow: 0 0 3px #494949;
}

.is_active {
    margin-left: 6px;
    margin-top: 7px;
    position: absolute;
    content: "";
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    width: 8px;
    height: 8px;
    transform: rotate(135deg);
}

.is_current {
    margin-left: 4px;
    margin-top: 8px;
    position: absolute;
    content: "";
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    width: 8px;
    height: 8px;
    transform: rotate(135deg);
}
.search_area {
    border: 1px solid #666;
    padding: 10px;
    margin-right: 10px;
}

.search_conditions_inner {
    display: none;
    background: #fff;
}

.user_name {
    font-size: 20px;
}

.profile_header {
    color: white;
    margin-bottom: 5px;
}

.user_subject span:nth-of-type(2) {
    margin-left: 25px;
}

.user_subject_table {
    text-align: center;
}

.user_subject_table th {
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    width: 50px;
}

.subject_edit_btn {
    position: relative;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #e0dddd;
    padding: 1px 13px 1px 3px;
}

.subject_edit_btn:hover {
    box-shadow: 0 0 3px #494949;
}

.subject_edit_btn_div .is_current {
    margin-top: 11px;
    margin-left: 1px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.subject_edit_btn_div .is_active {
    margin-top: 9px;
    margin-left: 3px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.subject_edit_btn_div {
    vertical-align: middle;
    width: 140px;
    height: 30px;
    padding-left: 2px;
}

.subject_edit_btn_div p {
    margin-bottom: 0px;
}

.subject_inner {
    display: none;
}

.user_search_div {
    /* border: 1px solid #fff; */
    border-radius: 10px;
    background-color: #888;
    height: 25px;
    width: 74px;
    color: #fff;
    text-align: center;
}

.user_search_div:hover {
    box-shadow: 0 0 5px #888;
}

.user_search_div input {
    /* .user_search_div i { */
    color: #fff;
}

.user_search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}
